@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Personalizar scrollbar con CSS nativo */
::-webkit-scrollbar {
  width: 1px;
  /* ancho de la barra vertical */
  height: 8px;
  /* alto de la barra horizontal */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* color del fondo */
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  /* color del scroll */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* color al pasar el mouse */
}

input[type="date"] {
  appearance: auto !important;
  -webkit-appearance: auto !important;
  /* Para navegadores basados en WebKit (Chrome, Safari) */
}

#login{
  background-image: url('/login-bg.jpg');
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

#calendarioMobile{
  margin-left: calc(0.25rem * 5);
  margin-right: calc(0.25rem * 5);
}


@media (max-width: 400px) {
  #calendarioMobile {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}